body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 51, 51);
}
.container{
    height: 500px;
    width: 400px;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 56, 56);
   position: relative;

}
input{
    width:300px;
    height: 20px;
}
.sign{
    position: absolute;
    top: 10px;
    right: 180px;
    background-color: black;
    color: rgb(171, 61, 61);
    padding: 8px;
    font-weight: 10px;
}
.submitt{
    position: absolute;
    bottom: 10px;
    right:150px ;
    background-color: rgb(171, 61, 61);
    color: white;
    font-weight: 10px;
    padding: 4px;
    cursor: pointer;
    width: 100px;
}
p{
    color: white;
    font-weight: 20px;
}
.top{
    position: absolute;
    margin-top: 0;
    top: 5px;
    left: 10px;
    color:rgb(255, 94, 0);
    font-style:italic;
}
:any-link{
    color: black;
}
::placeholder{
 font-style: italic;
 color: rgb(201, 61, 61);
}
